.function{
    margin-top: 20px;
    font-family: Serif, serif;
}

.function h3{
    text-align: center;
    font-family: "Comic Sans MS", serif;
    color: darkgrey;
}

.function table{
    text-align: center;
}
